/* general styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styles h2 within the page */
h2 {
    margin-bottom: 20px;
    font-size: 200%;
}

/* determines the color of the background */
body {
    background-color: #d9dcd6;
}

/* style affecting header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style the h1 of header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* determines color of the h1 in the header and the "seo" in "Horiseon" */
header h1 .seo {
    color: #d9dcd6;
}

/* styles the top navigation menu at the top of the page */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* determines the style of the list within the navigation menu at the top of the page */
header nav ul {
    list-style-type: none;
}

/* styles the list elements in the navigation menu at the top of the page */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* determines the color and decoration of all anchor elements within the page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* determines font size of all paragraphs within the page */
p {
    font-size: 20px;
}

/* styles the background of the page and provides an image for the background */
.background {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* determines the style of the three main blocks of content on the page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* determines the style of the SEO,ORM,SSM blocks within content */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* determines size of the image in the SEO block */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* keeps image in SEO and SMM sections to the left */
.SEO-img {
    float: left;
    margin-right: 25px;
}

/* keeps image in section to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* styles the column of info on the right hand side of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* determines the color and margins of the right hand side column */
.benefit-common {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the h3 on the right hand side column */
.benefit-common h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the images on the right hand side column */
.benefit-common img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the footer box at the bottom of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* styles the footers h2 */
footer h2 {
    font-size: 20px;
}